* {
	box-sizing: border-box;
}

body {
	background-image: url(../images/city_landscape.png);
	background-repeat: no-repeat;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
}

div[class^="col-"]{
	border: 1px solid #AAA;
	padding-top: 10px;
	padding-bottom: 10px;
	background: white;
	position: absolute;
	top: 55%;
}

#caja1 {
	left: 33.5%;
}

#caja2 {
	right: 33.5%;
}

h1 {
	text-align: center;
	color: #ffd5e8;
	font-weight: bold;
	font-size: 250%;
	margin: 0 auto;
}

#centre {
	position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/********** Large devices only **********/
@media (min-width: 1200px) {
	body {
		background-size: cover;
	}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	body {
		background-size: cover;
	}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	body {
		background-size: cover;
	}
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
	body {
		background-size: cover;
	}
}